Package: pwrdemo48
Version: 4.8.1-2
Section: base
Priority: optional
Architecture: i386
Depends: pwr48 (>= 4.8.1-2)
Maintainer: Proview <postmaster@proview.se>
Description: Proview Demo Project package
 Proview Demo Project
 4.8.0-1 Base release 
