Package: pwrrpi58
Version: 5.8.0-1
Section: base
Priority: optional
Architecture: i386
Depends: pwr58 (>= 5.8.0-1)
Replaces: pwr58
Maintainer: Proview <postmaster@proview.se>
Description: Proview RPI development package
 5.8.0-1 Base release
