Package: pwrrpi54
Version: 5.4.0-1
Section: base
Priority: optional
Architecture: i386
Depends: pwr54 (>= 5.4.0-1)
Replaces: pwr54
Maintainer: Proview <postmaster@proview.se>
Description: Proview RPI development package
 5.4.0-1 Base release
