#  pwr_wb_palette.cnf -- Defines basic layouts.
#
#  PROVIEW/R
#  Copyright (C) 1996 by Comator Process AB.
#
#  <Description>.
#
#
#  Navigator
#
topobjects NavigatorW1
{
  class $PlantHier
  class $LibHier
  class $Alias
  class $MountObject
}
topobjects NavigatorW2
{
  class $NodeHier
  class $Node
  class $Layout
}
palette NavigatorPalette
{
  menu Plant
  {
    class $PlantHier
    menu Signals
    {
      class Ai
      class Ao
      class Av
      class Co
      class Di
      class Do
      class Dv
      class Ii
      class Io
      class Iv
      class Po
      class Sv
    }
    menu DataStorage
    {
      class DsFast
      class DsHist
      class DsTrend
    }
    menu Supervision
    {
      class ASup
      class DSup
    }
    class PlcPgm
    class Backup
    class $LibHier
    class $DocHier
    class $Mountobject
    class $Alias
  }
  menu Node
  {
    class $NodeHier
    class $Node
    class $Mountobject
    class $CreateVolume
    class $MountVolume
    menu Servers
    {
      class Backup_Conf
      class DsFastConf
      class DsHistServer
      class DsTrendConf
      class IOHandler
      class MessageHandler
      class PlcProcess
      class PlcThread
      class RemoteConfig
      class WebHandler
      class IOHandler
    }
    menu IO_SSAB
    {
      class Rack_SSAB
      menu Cards
      {
        class Di_DIX2
        class Do_HVDO32
        class Ai_HVAI32
        class Ai_AI32uP
        class Ao_AO8uP
        class Ao_HVAO4
        class Co_CO4uP
        class Co_PI24BO
        class PID_1uP
      }
      menu Channels
      {
        class ChanAi
        class ChanAit
        class ChanAo
        class ChanCo
        class ChanDi
        class ChanDo
        class ChanIi
        class ChanIo
      }
      class IOHandler
    }
    menu Profibus
    {
      menu Masters
      {
        class Pb_Profiboard
      }
      menu Slaves
      {
        class Pb_DP_Slave
      }
      menu Modules
      {
        class Pb_Di
        class Pb_Do
        class Pb_Ai
        class Pb_Ao
	class Pb_Ii
	class Pb_Io
      }
    }
    menu Remote
    {
      class RemoteConfig
      class RemnodeUDP
      class RemnodeTCP
      class RemnodeALCM
      class RemnodeSerial
      class RemnodeModbus
      class Remnode3964R
      class RemTrans
      menu Buffers
      {
        class Buff256
	class Buff1440
	class Buff4096
	class Buff32k
	class BuffStr80
      }
      menu RemoteIO
      {
        class RemAi
	class RemAo
	class RemDi
	class RemDo
	class RemCo
	class RemDv
        class RemChanAi
	class RemChanAo
	class RemChanDi
	class RemChanDo
	class RemChanCo
	class RemChanDv	
      }
    }
    menu Operator
    {
      class OpPlace
      class User
      class EventPrinter
      class Form
      class Graph
      class XttGraph
      class OpAppl
      class OpApplMsg
      class RttConfig
      class WebBrowserConfig
    }
    class $Appl
    class PlotGroup
    class CycleSup
    class NodeLinkSup
  }
  menu AllClasses
  {
    classvolume pwrs 
    classvolume pwrb
    classvolume NMps NMps
    classvolume TLog TLog
    classvolume ssab ssab
  }
}

#
#  ClassNavigator
#
topobjects ClassNavigatorW1
{
  class $ClassHier
  class $TypeHier
}

topobjects ClassNavigatorW2
{
  class $System
}

palette ClassNavigatorPalette
{
  menu Class
  {
    class $Attribute
    class $AttrXRef
    class $Buffer
    class $ClassDef
    class $ClassHier
    class $GraphPlcNode
    class $Input
    class $Intern
    class $ObjBodyDef
    class $ObjXRef
    class $Output
    class PlcTemplate
  }
  menu Type
  {
    class $TypeDef
    class $TypeHier
  }
  menu Menu
  {
    class $Menu
    class $MenuButton
    class $MenuSeparator
    class $RtMenu
  }
  menu AllClasses
  {
    classvolume pwrs
    classvolume pwrb
    classvolume NMps NMps
    classvolume TLog TLog
    classvolume ssab ssab
  }
}

#
#  ProjectNavigator
#
topobjects ProjectNavigatorW1
{
  class RootVolumeConfig
  class ClassVolumeConfig
  class SubVolumeConfig
  class WbEnvironment
  class DbConfig
}

topobjects ProjectNavigatorW2
{
  class $System
  class NodeConfig
  class FriendNodeConfig
  class BusConfig
}

palette ProjectNavigatorPalette
{
  menu Volume
  {
    class ClassVolumeConfig
    class ClassVolumeLoad
    class CommonClassDistribute
    class $PlantHier
    class RootVolumeConfig
    class RootVolumeLoad
    class SubVolumeConfig
    class SubVolumeLoad
    class VolumeDistribute
    class WbEnvironment
  }
  menu Node
  {
    class ApplDistribute
    class BusConfig
    class ClassVolumeLoad
    class Distribute
    class FriendNodeConfig
    class NodeConfig
    class $NodeHier
    class RootVolumeLoad
    class SharedVolumeLoad
    class SubVolumeLoad
    class $System
  }
}

#
#  PlcEditor
#
palette PlcEditorPalette
{
  menu Analog
  {
    class AArithm
    class Adelay
    class Add
    class ASup
    class CArithm
    class Comph
    class Compl
    class Curve
    class DArithm
    class DataArithm
    class Div
    class Equal
    class Filter
    class GreaterEqual
    class GreaterThan
    class LessEqual
    class LessThan
    class Limit
    class Max
    class Maxmin
    class Min
    class Mul
    class Mux
    class NotEqual
    class PiSpeed
    class Ramp
    class Select
    class ScanTime
    class Speed
    class Sub
    class Sum
    class Table
    class Timint
    menu Math
    {
      class ACos
      class Abs
      class ASin
      class ATan
      class Cos
      class Exp
      class Ln
      class Log
      class Mod
      class Sin
      class Sqrt
      class Tan
    }
  }
  menu Control
  {
    class Inc3P
    class Mode
    class Out2P
    class PID
    class PidX
    class Pos3P
  }
  menu Drive
  {
    class Drive
    class MValve
    class Posit
    class Valve
  }
  menu Edit
  {
    class BodyText
    class Document
    class DocUser1
    class DocUser2
    class Frame
    class Head
    class Point
    class ShowPlcAttr
    class Text
    class Title
  }
  menu Grafcet
  {
    class InitStep
    class Order
    class OrderAct
    class Reset_SO
    class SetCond
    class SsBegin
    class SsEnd
    class Step
    class SubStep
    class Trans
  }
  menu Integer
  {
    class BwAnd
    class BwOr
    class Even
    class IAbs
    class IAdd
    class IDiv
    class IEqual
    class IGreaterEqual
    class IGreaterThan
    class ILessEqual
    class ILessThan
    class ILimit
    class IMax
    class IMin
    class IMul
    class IMux
    class INotEqual
    class ISel
    class ISub
    class Odd
  }
  menu Logic
  {
    class And
    class Count
    class DSup
    class Edge
    class FirstScan
    class Inv
    class Or
    class Pulse
    class SR_R
    class SR_S
    class Timer
    class Wait
    class Waith
    class XOr
  }
  menu NMps NMps
  {
    class CellDisp
    class CellUpdate
    class CurrentData
    class CurrentIndex
    class DataCopy
    class DataCnv
    class DataRcv
    class DataRequest
    class DataReset
    class DataSelect
    class DataSend
    class DispLink
    class GetDap
    class GetObjidp
    class Func
    class FuncExtend
    class FuncInput
    class FuncOutput
    class NMpsCell
    class NMpsMirrorCell
    class NMpsOutCell
    class NMpsStoreCell
    class NMpsTrp
    class NMpsTrpFF
    class NMpsTrpRR
  }
  menu Other
  {
    class Backup
    class CLoop
    class CSub
    class RemTransRcv
    class RemTransSend
    class RunningTime
    class AntiSwayA
    class AntiSwayM
  }
  menu Signals
  {
    menu Analog
    {
      class ApCollect
      class ApDistribute
      class CStoAo
      class CStoAp
      class CStoAtoIp
      class CStoAv
      class GetAi
      class GetAo
      class GetAp
      class GetAv
      class StoAo
      class StoAp
      class StoAtoIp
      class StoAv
    }
    menu Digtal
    {
      class DpCollect
      class DpDistribute
      class GetDi
      class GetDo
      class GetDp
      class GetDv
      class ResDo
      class ResDp
      class ResDv
      class SetDo
      class SetDp
      class SetDv
      class StoDo
      class StoDp
      class StoDv
    }
    menu Integer
    {
      class CStoIo
      class CStoIp
      class CStoIv
      class GetIi
      class GetIo
      class GetIp
      class GetIpToA
      class GetIv
      class StoIo
      class StoIp
      class StoIv
      class GetPi
      class PiPos
    }
    menu Conversion
    {
      class AtoI
      class AtoStr
      class BCDDo
      class DiBCD
      class DtoMask
      class DtoEnum
      class DtoStr
      class EnumToD
      class Gray
      class ItoA
      class ItoStr
      class MaskToD
      class NameToStr
    }
    menu Data
    {
      class DataCollect
      class GetData
    }
    menu String
    {
      class CStoNumSp
      class CStoSv
      class CStoSp
      class GetSp
      class GetSv
      class StoNumSp
      class StoSp
      class StoSv
      class Strcat
      class SubStr
    }
    menu Simulate
    {
      class CStoAi
      class CStoIi
      class ResDi
      class SetDi
      class StoAi
      class StoDi
      class StoIi
      class StoPi
    }
    menu Function
    {
      class CStoAattr
      class CStoIattr
      class CStoSattr
      class GetAattr
      class GetDattr
      class GetIattr
      class GetSattr
      class ResDattr
      class SetDattr
      class StoAattr
      class StoDattr
      class StoIattr
      class StoSattr
    }
  }
  menu TLog TLog
  {
    class AtLog
    class CAtLog
    class CDtLog
    class ChgAtLog
    class ChgOtLog
    class COtLog
    class DtLog
    class ExecPlcOn
    class ExecPlcOff
    class TLogExecAllOn
    class TLogExecAllOff
    class TLogOpen
    class TLogModify
  }
}
palette PlcEditorConPalette
{
  menu ConPlc
  {
    class ConDigital
    class ConAnalog
    class ConFeedbackDigital
    class ConFeedbackAnalog
    class ConExecuteOrder
  }
  menu ConGrafcet
  {
    class ConGrafcet
    class StepConv
    class StepDiv
    class TransConv
    class TransDiv
  }
  menu ConDocumentation
  {
    menu Solid
    {
      class ConThinNoArr
      class ConThinOneArr
      class ConThinTwoArr
      class ConMeNoArr
      class ConMeOneArr
      class ConMeTwoArr
    }
    menu Dashed
    {
      class ConDaThinNoArr
      class ConDaThinOneArr
      class ConDaThinTwoArr
      class ConDaMeNoArr
      class ConDaMeOneArr
      class ConDaMeTwoArr
    }
    menu SharpCorners
    {
      class ConReMeNoArr
      class ConReMeOneArr
      class ConReMeTwoArr
    }
  }
}













