#  pwr_wb_palette.cnf -- Defines basic layouts.
#
#  PROVIEW/R
#  Copyright (C) 1996 by Comator Process AB.
#
#  <Description>.
#
#
#  Navigator
#
topobjects NavigatorW1
{
  class $PlantHier
  class $LibHier
  class $Hier
  class $Alias
  class $MountObject
  class $MountVolume
  class ProjectReg
  class VolumeReg
  class SystemGroupReg
}
topobjects NavigatorW2
{
  class $NodeHier
  class $Node
  class $Layout
}
palette NavigatorPalette
{
  menu Plant
  {
    class $PlantHier
    menu Signals
    {
      class Ai
      class Ao
      class Av
      class ATv
      class Co
      class Di
      class Do
      class Dv
      class DTv
      class Ii
      class Io
      class Iv
      class Po
      class Sv
      menu Bi
      {	
        class BiIntArray20
        class BiIntArray100
        class BiFloatArray20
        class BiFloatArray100
	class BiString80
      }
      menu Bo
      {	
        class BoIntArray20
        class BoIntArray100
        class BoFloatArray20
        class BoFloatArray100
	class BoString80
      }
    }
    menu DataStorage
    {
      class DsFastCurve
      class DsTrend
      class DsTrendCurve
      class SevHist
      class SevHistObject
      menu CircularBuffer
      {
        class CircBuff1k
        class CircBuff2k
        class CircBuff10k
        class CircBuff20k
        class CircBuff100k
        class CircBuff200k
      }
    }
    menu Supervision
    {
      class ASup
      class DSup
    }
    menu Components	
    {
      menu BaseComponent
      {
        class BaseC3WayValve
        class BaseCDamper
        class BaseCValve
        class BaseCircuitBreaker
        class BaseContactor
        class BaseDirValve
        class BaseElHeater
        class BaseFanAggr
        class BaseFcPPO3
        class BaseFcPPO3FanAggr
        class BaseFcPPO3MotorAggr
        class BaseFcPPO3PumpAggr
        class BaseFcPPO5
        class BaseFcPPO5FanAggr
        class BaseFcPPO5MotorAggr
        class BaseFcPPO5PumpAggr
        class BaseFilter
        class BaseFlowSensor
        class BaseLevelSensor
        class BaseLevelSwitch
        class BaseM3WayValve
        class BaseMDamper
        class BaseMValve
        class BaseManValve
        class BaseMotorAggr
        class BaseMotorIncrDecrAggr
        class BaseOverloadRelay
        class BasePositSensor
        class BasePressureSensor
        class BasePressureSwitch
        class BasePropValve
        class BasePumpAggr        
        class BaseSafetySwitch
        class BaseSensor
        class BaseSupSwitch
        class BaseSwitch
        class BaseTempSensor
        class BaseTempSwitch
        class CompModePID
        class CompOnOffBurner
        class CompOnOffZone
        class CompPID
        class RunTimeCounter
      }
      menu Manufacturer
      {
        menu ABB
        {
          class ABB_ACC800
          class ABB_ACS800FanAggr
          class ABB_ACS800MotorAggr
          class ABB_ACS800PumpAggr
          class ABB_ACS800_1
          class ABB_ACS880FanAggr
          class ABB_ACS880MotorAggr
          class ABB_ACS880PumpAggr
          class ABB_ACS880_1
          class ABB_CircuitBreaker_MS116
          class ABB_Contactor_A
          class ABB_Converter_ACS800_PPO3
          class ABB_Converter_ACS800_PPO5
          class ABB_DiffPressureSensor_265DS
          class ABB_FlowSensor_FXE4000
          class ABB_TempSensor_TF12
        }
        menu Cewe
        {
          class Cewe_SafetySwitch_BAS
          class Cewe_SafetySwitch_KSA_LBAS
        }
        menu Danfoss
        {
          class Danfoss_Converter_FC300_PPO3
          class Danfoss_Converter_FC300_PPO5
        }
        menu Durholdt
        {
          class Durholdt_Valve_100_103
        }
        menu Eurotherm
        {
          class Eurotherm_TC3001
          class Eurotherm_TC3001Aggr
        }
        menu Impac
        {
          class Impac_TempSensor_IN300
        }
        menu Inor
        {
          class Inor_TempSensor_VRS
        }
        menu Klay
        {
          class Klay_PressureSensor_Series2000
        }
        menu KlocknerMoeller
        {
          class KM_CircuitBreaker_PKZ
          class KM_Contactor_PKZ
        }
        menu Legrand
        {
          class Legrand_CircuitBreaker_DX
        }
        menu Mobrey
        {
          class Mobrey_LevelSensor_MSP422
          class Mobrey_LevelSwitch_EC
        }
        menu Omron
        {
          class Omron_Contactor_J7KN
        }
        menu SEW
        {
          class SEW_Movidrive_1
          class SEW_Movidrive_EPB
        }
        menu Siemens
        {
          class Siemens_Motor_1LA
          class Sinamics_G120_Tgm1
        }
        menu Suco
        {
          class Suco_PresSwitch_27AF
        }
        menu Ventim
        {
          class Ventim_Valve_VM3001
        }
      }
    }
    class PlcPgm
    class Backup
    class $LibHier
    class $Mountobject
    class $Alias
  }
  menu Node
  {
    class $CreateVolume
    class $MountObject
    class $MountVolume
    class $NodeHier
    class $Node
    class $Security
    menu Servers
    {
      class Backup_Conf
      class DsFastConf
      class DsTrendConf
      class IOHandler
      class MessageHandler
      class Opc_ServerConfig
      class PlcProcess
      class PlcThread
      class PostConfig
      class RemoteConfig
      class ReportConfig
      class Report
      class SysMonConfig
      class StatusServerConfig
      class SevHistMonitor
      class SevHistThread
      class SevServer
      class WebHandler
      class WebBrowserConfig
    }
    menu IO
    {
      menu Channels
      {
        class ChanAi
        class ChanAit
        class ChanAo
        class ChanBi
        class ChanBiBlob
        class ChanBo
        class ChanBoBlob
        class ChanCo
        class ChanD
        class ChanDi
        class ChanDo
        class ChanIi
        class ChanIo
      }
      menu PSS9000
      {
        menu Rack 
        {
          class Rack_SSAB
          class Ssab_RemoteRack
        }
        menu Cards 
        {
          class Ssab_AI32uP
          class Ssab_AI16uP
          class Ssab_Ai8uP
          class Ssab_AO8uP
          class Ssab_AO8uPL
          class Ssab_AO16uP_Logger
          class Ssab_Co4uP
          class Ssab_DI32D
          class Ssab_DO32DKS
          class Ssab_DO32DKS_Stall
        }
      }
      menu Profibus
      {
        menu Masters
        {
          class Pb_Profiboard
          class Pb_Hilscher
        }
        menu Slaves
        {
          class Pb_DP_Slave
          class ABB_ACS_Pb_Slave
          class ABB_ACS880_Pb_Slave
          class Eurotherm_TC3001_PbSlave
          class SEW_Movidrive_Pb_Slave
          class Siemens_DiagRepeater
          class Siemens_ET200S_IM151
          class Siemens_ET200M_IM153
          class Sinamics_G120_PbSlave
        }
      }
      menu Profinet
      {
        menu Controller
        {
          class PnControllerSoftingPNAK
          class Hilscher_cifX_PnController
        }
        menu Devices
        {
          class PnDevice
          class Siemens_ET200S_PnDevice
          class Siemens_ET200M_PnDevice
          class Sinamics_G120_PnDevice
          class ABB_ACS_PnDevice
        }
      }
      menu Modbus_TCP 
      {
	class Modbus_Master
        class Modbus_TCP_Slave
        class Modbus_Module
	menu Server
	{
	  class Modbus_TCP_Server
          class Modbus_TCP_ServerModule
	}
      } 
      menu Modbus_RTU 
      {
	class Modbus_RTU_Master
        class Modbus_RTU_Slave
        class Modbus_RTU_Module
	menu Server
	{
	  class Modbus_RTU_Server
          class Modbus_RTU_ServerModule
	}
      } 
      menu Hilscher_cifX
      {
        class Hilscher_cifX_Master
        class Hilscher_cifX_Device
        class Hilscher_cifX_Module
      }
      menu UDP
      {
        class UDP_IO
        class BaseIORack
      }
      menu GPIO
      {
        class GPIO
        class GPIO_Module
      }
      menu OneWire
      {
        class OneWire
        class OneWire_AiDevice
        class OneWire_AoDevice
        class Maxim_DS18B20
      }
      menu SPI
      {
        class SPI_Slave
      }
      menu USB
      {
        class USB_Agent
      	menu Arduino
	{	
          class Arduino_USB
          class Arduino_Uno
	}
      	menu Velleman_K8055
	{	
          class Velleman_K8055
          class Velleman_K8055_Board
	}
        menu MotionControl_USBIO
        {
          class MotionControl_USB
          class MotionControl_USBIO
        }
        menu USB_Joystick
        {
          class USB_Joystick
          class BaseIORack
        }
      }
      menu Nodave
      {
        class Nodave_PLC
	class Nodave_Transaction
      }
    }
    menu Remote
    {
      class LoggConfig
      class RemoteConfig
      class RemnodeALCM
      class RemnodeModbus
      class RemnodeMQ
      class RemnodeWMQ
      class RemnodeSerial
      class RemnodeTCP
      class RemnodeUDP
      class Remnode3964R
      class RemnodeRK512
      class RemTrans
      menu Buffers
      {
        class Buff256
	class Buff1440
	class Buff4096
	class Buff32k
	class BuffStr80
      }
    }
    menu Operator
    {
      class OpPlace
      class XttGraph
      class WebBrowserConfig
      class WebGraph
    }
    class Application
    class PlotGroup
    class CycleSup
    class NodeLinkSup
  }
  menu AllClasses
  {
    classvolume pwrs 
    classvolume pwrb
    classvolume NMps NMps
    classvolume TLog TLog
    classvolume Profibus Profibus
    classvolume Remote Remote
    classvolume Opc Opc
    classvolume BaseComponent BaseComponent
    classvolume Inor Inor
    classvolume OtherManufacturer OtherManufacturer
    classvolume OtherIO OtherIO
    classvolume ABB ABB
    classvolume KlocknerMoeller KlocknerMoeller
    classvolume Siemens Siemens
    classvolume SsabOx SsabOx
    classvolume Telemecanique Telemecanique
    classvolume Miscellaneous Miscellaneous
  }
}

#
#  ClassNavigator
#
topobjects ClassNavigatorW1
{
  class $ClassHier
  class $TypeHier
}

topobjects ClassNavigatorW2
{
  class $System
}

palette ClassNavigatorPalette
{
  menu Class
  {
    class $Attribute
    class $AttrXRef
    class $Buffer
    class $ClassDef
    class $ClassHier
    class $GraphPlcNode
    class $Input
    class $Intern
    class $ObjBodyDef
    class $ObjXRef
    class $Output
    class PlcTemplate
  }
  menu Type
  {
    class $Bit
    class $TypeDef
    class $TypeHier
    class $Value
  }
  menu Menu
  {
    class $Menu
    class $MenuButton
    class $MenuCascade
    class $MenuRef
    class $MenuSeparator
    class $RtMenu
  }
  menu Method
  {
    class $Method
    class $RtMethod
  }
  menu AllClasses
  {
    classvolume pwrs
    classvolume pwrb
    classvolume NMps NMps
    classvolume TLog TLog
    classvolume Profibus Profibus
    classvolume Remote Remote
    classvolume BaseComponent BaseComponent
    classvolume OtherManufacturer OtherManufacturer
    classvolume OtherIO OtherIO
    classvolume ABB ABB
    classvolume Siemens Siemens
    classvolume Telemecanique Telemecanique
    classvolume SsabOx SsabOx
  }
}

#
#  ProjectNavigator
#
topobjects ProjectNavigatorW1
{
  class RootVolumeConfig
  class ClassVolumeConfig
  class CloneVolumeConfig
  class DetachedClassVolumeConfig
  class SubVolumeConfig
  class SharedVolumeConfig
  class ExternVolumeConfig
  class WbEnvironment
  class DbConfig
}

topobjects ProjectNavigatorW2
{
  class $System
  class NodeConfig
  class FriendNodeConfig
  class SevNodeConfig
  class BusConfig
}

palette ProjectNavigatorPalette
{
  menu Volume
  {
    class ClassVolumeConfig
    class ClassVolumeLoad
    class CloneVolumeConfig
    class CommonClassDistribute
    class DetachedClassVolumeConfig
    class DetachedClassVolumeLoad
    class ExternVolumeConfig
    class $PlantHier
    class RootVolumeConfig
    class SharedVolumeConfig
    class SubVolumeConfig
    class VolumeDistribute
    class WbEnvironment
  }
  menu Node
  {
    class ApplDistribute
    class BuildOptions
    class BusConfig
    class ClassVolumeLoad
    class CustomBuild
    class Distribute
    class DetachedClassVolumeLoad
    class FriendNodeConfig
    class NodeConfig
    class $NodeHier
    class RootVolumeLoad
    class SevNodeConfig
    class SharedVolumeLoad
    class SubVolumeLoad
    class $System
  }
}

#
#  ProjectList
#
topobjects PrListNavigatorW1
{
  class $Hier
  class ProjectReg
  class BaseReg
}

topobjects PrListNavigatorW2
{
}

palette PrListNavigatorPalette
{
  class BaseReg
  class $Hier
  class ProjectReg
}

#
#  Global Volume List
#
topobjects GvListNavigatorW1
{
  class $Hier
  class VolumeReg
}

topobjects GvListNavigatorW2
{
}

palette GvListNavigatorPalette
{
  class $Hier
  class VolumeReg
}

#
#  User Database
#
topobjects UserDbNavigatorW1
{
  class SystemGroupReg
  class UserReg
}

topobjects UserDbNavigatorW2
{
}

palette UserDbNavigatorPalette
{
  class SystemGroupReg
  class UserReg
}

#
#  PlcEditor
#
palette PlcEditorPalette
{
  menu Analog
  {
    class AArithm
    class Adelay
    class Add
    class ASup
    class CArithm
    class Comph
    class Compl
    class Curve
    class DArithm
    class DataArithm
    class DataArithmL
    class Demux
    class Div
    class Equal
    class Filter
    class GreaterEqual
    class GreaterThan
    class LessEqual
    class LessThan
    class Limit
    class Max
    class Maxmin
    class Min
    class Mul
    class Mux
    class NotEqual
    class PiSpeed
    class Ramp
    class Select
    class ScanTime
    class Speed
    class Sub
    class Sum
    class Table
    class Timint
    menu Math
    {
      class ACos
      class Abs
      class ASin
      class ATan
      class Cos
      class Exp
      class Ln
      class Log
      class Mod
      class Sin
      class Sqrt
      class Tan
    }
  }
  menu Control
  {
    class Inc3P
    class Mode
    class Out2P
    class PID
    class PidX
    class Pos3P
  }
  menu Drive
  {
    class Drive
    class MValve
    class Posit
    class Valve
  }
  menu Edit
  {
    class BodyText
    class Document
    class DocUser1
    class DocUser2
    class Frame
    class Head
    class Point
    class ShowPlcAttr
    class Text
    class Title
  }
  menu Grafcet
  {
    class InitStep
    class Order
    class OrderAct
    class Reset_SO
    class SetCond
    class SsBegin
    class SsEnd
    class Step
    class SubStep
    class Trans
  }
  menu Integer
  {
    class BwAnd
    class BwInv
    class BwOr
    class BwRotateLeft
    class BwRotateRight
    class BwShiftLeft
    class BwShiftRight
    class Even
    class IAbs
    class IAdd
    class IDemux
    class IDiv
    class IEqual
    class IGreaterEqual
    class IGreaterThan
    class ILessEqual
    class ILessThan
    class ILimit
    class IMax
    class IMin
    class IMul
    class IMux
    class INotEqual
    class ISel
    class ISub
    class Odd
  }
  menu Logic
  {
    class And
    class Count
    class DSup
    class Edge
    class False
    class FirstScan
    class Inv
    class Or
    class Pulse
    class PulseTrain
    class SR_R
    class SR_S
    class Timer
    class True
    class Wait
    class Waith
    class XOr
  }
  menu NMps NMps
  {
    class CellDisp
    class CellUpdate
    class CurrentData
    class CurrentIndex
    class DataCopy
    class DataCnv
    class DataFRead
    class DataFWrite
    class DataRcv
    class DataRequest
    class DataReset
    class DataSelect
    class DataSend
    class DispLink
    class GetDap
    class GetObjid
    class GetObjidp
    class Func
    class FuncExtend
    class FuncInput
    class FuncOutput
    class NMpsCell
    class NMpsCell60
    class NMpsCell120
    class NMpsMirrorCell
    class NMpsOutCell
    class NMpsStoreCell
    class NMpsStoreCell60
    class NMpsStoreCell120
    class NMpsTrp
    class NMpsTrpFF
    class NMpsTrpRR
  }
  menu Other
  {
    class Backup
    class CLoop
    class CSub
    class CArea
    class Disabled
    class RemTransRcv
    class RemTransSend
    class RunningTime
    class Ssab_AntiSway
    class Ssab_ServoReg
  }
  menu Signals
  {
    menu Analog
    {
      class ApCollect
      class ApDistribute
      class CStoAo
      class CStoAp
      class CStoAtoIp
      class CStoAv
      class GetAi
      class GetAo
      class GetAp
      class GetApPtr
      class GetAv
      class StoAo
      class StoAp
      class StoApPtr
      class StoAtoIp
      class StoAv
    }
    menu Digital
    {
      class DpCollect
      class DpDistribute
      class GetDi
      class GetDo
      class GetDp
      class GetDpPtr
      class GetDv
      class ResDo
      class ResDp
      class ResDv
      class SetDo
      class SetDp
      class SetDv
      class StoDo
      class StoDp
      class StoDpPtr
      class StoDv
    }
    menu Extern
    {
      class CStoExtBoolean
      class CStoExtFloat32
      class CStoExtFloat64
      class CStoExtInt8
      class CStoExtInt16
      class CStoExtInt32
      class CStoExtInt64
      class CStoExtUInt8
      class CStoExtUInt16
      class CStoExtUInt32
      class CStoExtUInt64
      class CStoExtString
      class CStoExtTime
      class GetExtBoolean
      class GetExtFloat32
      class GetExtFloat64
      class GetExtInt8
      class GetExtInt16
      class GetExtInt32
      class GetExtInt64
      class GetExtUInt8
      class GetExtUInt16
      class GetExtUInt32
      class GetExtUInt64
      class GetExtString
      class GetExtTime
    }
    menu Integer
    {
      class CStoIo
      class CStoIp
      class CStoIv
      class GetIi
      class GetIo
      class GetIp
      class GetIpPtr
      class GetIpToA
      class GetIv
      class IpCollect
      class IpDistribute
      class StoIo
      class StoIp
      class StoIpPtr
      class StoIv
      class GetPi
      class PiPos
    }
    menu Buffer 
    {
      class CStoBoInt32
      class CStoBoFloat32
      class CStoBoString80
      class GetBiInt32
      class GetBiFloat32
      class GetBiString80
      class GetBoFloat32
      class GetBoInt32
      class GetBoString80
      class StoBoInt32
      class StoBoFloat32
      class StoBoString80
    }
    menu Conversion
    {
      class AtoI
      class AToFloat64	
      class AtoStr
      class BCDDo
      class DiBCD
      class DtoMask
      class DtoEnum
      class DtoStr
      class EnumToD
      class EnumToStr
      class Float64ToA	
      class Gray
      class Int64toI
      class ItoA
      class ItoInt64
      class ItoStr
      class ItoUInt32
      class ItoUInt64	
      class MaskToD
      class NameToStr
      class StrToEnum
      class UInt64toI	
      class UInt32toI	
    }
    menu Data
    {
      class CStoAttrRefP
      class DataCollect
      class GetData
      class GetDatap
      class GetDataInput
    }
    menu String
    {
      class CStoNumSp
      class CStoSp
      class CStoSv
      class GetSp
      class GetSv
      class StoNumSp
      class StoSp
      class StoSv
      class Strcat
      class SubStr
    }
    menu Time
    {
      class AtAdd
      class AtEqual
      class AtGreaterThan
      class AtLessThan
      class AToDt
      class AtSub
      class AtDtSub
      class CStoATp
      class CStoATv
      class CStoDTp
      class CStoDTv
      class CurrentTime
      class DtAdd
      class DtEqual
      class DtGreaterThan
      class DtLessThan
      class DtSub
      class DtToA
      class GetATp
      class GetATv
      class GetDTp
      class GetDTv
      class LocalTime
      class StoATp
      class StoATv
      class StoDTp
      class StoDTv
    }
    menu Simulate
    {
      class CStoAi
      class CStoBiInt32
      class CStoBiFloat32
      class CStoBiString80
      class CStoIi
      class ResDi
      class SetDi
      class StoAi
      class StoBiInt32
      class StoBiFloat32
      class StoBiString80
      class StoDi
      class StoIi
      class StoPi
      class ToggleDi
    }
    menu Function
    {
      class CStoAattr
      class CStoIattr
      class CStoSattr
      class GetAattr
      class GetDattr
      class GetIattr
      class GetSattr
      class ResDattr
      class SetDattr
      class StoAattr
      class StoDattr
      class StoIattr
      class StoSattr
    }
  }
  menu TLog TLog
  {
    class AtLog
    class CAtLog
    class CDtLog
    class ChgAtLog
    class ChgOtLog
    class COtLog
    class DtLog
    class ExecPlcOn
    class ExecPlcOff
    class TLogExecAllOn
    class TLogExecAllOff
    class TLogOpen
    class TLogModify
  }
  menu Miscellaneous
  {
    class Misc_DemoPattern
  }
  menu Components 
  {
    menu BaseComponent
    {
      class BaseActuatorAFo
      class BaseActuatorIncrDecrFo
      class BaseCDamperFo
      class BaseCircuitBreakerFo
      class BaseContactorFo
      class BaseCValveFo
      class BaseDirValveFo
      class BaseElHeaterFo
      class BaseFcPPO3MotorAggrFo
      class BaseFcPPO3Fo
      class BaseFcPPO5MotorAggrFo
      class BaseFcPPO5Fo
      class BaseFilterFo
      class BaseManValveFo
      class BaseMotorFo
      class BaseMValveFo
      class BaseOverloadRelayFo
      class BasePositSensorFo
      class BasePropValveFo
      class BaseSafetySwitchFo
      class BaseSensorFo
      class BaseSupSwitchFo
      class BaseValveIncrDecrFo
      class CompModeDFo
      class CompModeAFo
      class CompModeDMFo
      class CompModeD2Fo
      class CompModeD2MFo
      class CompModeAMFo
      class CompModePID_Fo
      class CompPID_Fo
      class CompOnOffBurnerFo
      class CompOnOffZoneFo
      class BaseMotorAggrFo
      class BaseMotorIncrDecrAggrFo
      class RunTimeCounterFo
    }
    menu ABB
    {
      class ABB_ACS800_1Fo
      class ABB_ACS800MotorAggrFo
      class ABB_ACS880_1Fo
      class ABB_ACS880MotorAggrFo
      class ABB_Sensor_Pb_PA_Fo
      class ABB_TempSensor_TF12Fo
      class ABB_PressureSensor_265GSFo
      class ABB_DiffPressureSensor_265DSFo
      class ABB_FlowSensor_FXE4000Fo
    }
    menu Siemens
    {
      class Sinamics_G120_Tgm1Fo
    }
    menu OtherManufacturer
    {
      class Eurotherm_TC3001Fo
      class Eurotherm_TC3001AggrFo
      class SEW_Movidrive_1Fo
      class SEW_Movidrive_EPBFo
      class Janitza_UMG96S_1Fo	
    }
    menu Simulate
    {
      class ABB_ACS800_1Sim
      class ABB_ACS800MotorAggrSim
      class ABB_ACS880_1Sim
      class ABB_ACS880MotorAggrSim
      class BaseContactorSim
      class BaseCDamperSim
      class BaseCValveSim
      class BaseElHeaterSim
      class BaseFcPPO3MotorAggrSim
      class BaseFcPPO3Sim
      class BaseFcPPO5MotorAggrSim
      class BaseFcPPO5Sim
      class BaseMValveSim
      class BaseSensorSim
      class BaseMotorAggrSim
      class BaseMotorIncrDecrAggrSim
      class BaseMotorSim
      class BaseValveIncrDecrSim
      class Eurotherm_TC3001Sim
      class Eurotherm_TC3001AggrSim
      class SEW_Movidrive_1Sim
    }
    menu Miscellaneous
    {
      class Misc_PingPongFo
      class Misc_DoDemoFo
    }
  }
}
palette PlcEditorConPalette
{
  menu ConPlc
  {
    class ConDigital
    class ConAnalog
    class ConFeedbackDigital
    class ConFeedbackAnalog
    class ConExecuteOrder
  }
  menu ConGrafcet
  {
    class ConGrafcet
    class StepConv
    class StepDiv
    class TransConv
    class TransDiv
  }
  menu ConDocumentation
  {
    menu Solid
    {
      class ConThinNoArr
      class ConThinOneArr
      class ConThinTwoArr
      class ConMeNoArr
      class ConMeOneArr
      class ConMeTwoArr
    }
    menu Dashed
    {
      class ConDaThinNoArr
      class ConDaThinOneArr
      class ConDaThinTwoArr
      class ConDaMeNoArr
      class ConDaMeOneArr
      class ConDaMeTwoArr
    }
    menu SharpCorners
    {
      class ConReMeNoArr
      class ConReMeOneArr
      class ConReMeTwoArr
    }
  }
}













