.annotate {
    color: #366ED4;
    font-style: italic;
}

.toolbar {
    border-left: 1px solid #aaa;
    margin-top: 10px;
    margin: 0 0 0 0;
    font-size: 0;
}

.toolbar-item {
    display: inline-block;
    padding: 0.0em 0.0em;
    background: #fff;
    margin: 0 0 0 0;
    border: 0px solid #aaa;
    border-left: none;
    color: blue;
    font-size: 16px;
    line-height: 1.5em;
    vertical-align: top;
}

.toolbar-item.selected {
    background-color: #ccc;
    color: black;
    font-weight: bold;
}

.menu-wrapper {
    display: inline-block;
    font-size: 16px;
}

.menu-button {
    padding-right: 2.5em;
    position: relative;
}

.menu-button::after {
    content: " ";
    border-left: 0.4em solid transparent;
    border-right: 0.4em solid transparent;
    border-top: 0.4em solid black;
    position: absolute;
    right: 1em;
    top: 1.1em;
}

.nav {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: cornflowerblue;
  width: 1200px;
}

li a, .dropbtn {
  display: inline-block;
  color: white;
  padding: 14px 16px;
}

li a:hover, .dropdown:hover .dropbtn {
  background-color: coral;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
  display: block;
}