Package: pwr46
Version: 4.6.1-1
Section: base
Priority: optional
Architecture: i386
Depends: libc6 (>= 2.9-4ubuntu6), libgtk2.0-0 (>= 2.16.1-0ubuntu2), libasound2 (>= 1.0.18-1ubuntu9), libdb4.7 (>=4.7.25-6ubuntu1), libdb4.7++ (>=4.7.25-6ubuntu1), libmysqlclient15off (>= 5.1.30really5.0.75-0ubuntu10), g++ (>= 4:4.3.3-1ubuntu1)
Replaces: pwrrt,pwr34,pwr39,pwr40,pwr41,pwr42,pwr43,pwr44,pwr45
Maintainer: Proview <postmaster@proview.se>
Description: Proview development and runtime environment package
 Proview development and runtime environment
 4.6.1-1 Base release 
