Package: pwr48
Version: 4.8.2-1
Section: base
Priority: optional
Architecture: i386
Depends: libc6 (>= 2.13-0ubuntu13), libgtk2.0-0 (>= 2.24.4-0ubuntu2), libasound2 (>= 1.0.24.1-0ubuntu5), libdb4.8 (>=4.8.30-5ubuntu2), libdb4.8++ (>=4.8.30-5ubuntu2), libmysql++3 (>= 3.0.9-1ubuntu2), g++ (>= 4:4.5.2-1ubuntu3), xfonts-100dpi
Replaces: pwrrt,pwr34,pwr39,pwr40,pwr41,pwr42,pwr43,pwr44,pwr45,pwr46,pwr47
Maintainer: Proview <postmaster@proview.se>
Description: Proview development and runtime environment package
 Proview development and runtime environment
 4.8.0-1 Base release 
 4.8.1-1 
   - I/O support for Arduino USB board.
   - Remote support for Websphere Message Queue.
   - Operator event logging and replay.
   - Chinese translation of operator enivornment.
 4.8.1-2
   - Profinet configurator, ordernumber showed in module enum list. 
   - Curve window, second mark and export dialog added.
   - Profibus/Profinet configurator, default module class setting added, and Appl button added.
   - Configurator fix, Delete, Create and Move object menu items were not insensive in view mode.
   - Plc link, problem with uppercase nodename for opt-file fixed.
   - Xtt, problems with OpPlace and XttGraph objects in SharedVolume fixed.
   - Plc compile, problem with compile of component subwindows fixed.
   - Wb object editor, Ctrl DoubleClick MB1 didn't work on attribute references.
   - Flow alloc color problem fixed.
   - wb locale fix for ubuntu.
 4.8.2-1
   - Support for Hilscher cifX boards.
   - Support for Hilscher cifX Profinet Controller.
   - UDP communication configured with IO objects.
   - Support for USB joystick.
