Package: pwrdemo53
Version: 5.4.0-1
Section: base
Priority: optional
Architecture: amd64
Depends: sudo, pwr53 (>= 5.3.1-1)
Maintainer: Proview <postmaster@proview.se>
Description: Proview Demo Project package
 5.4.0-1 Base release
