Package: pwrdemo56
Version: 5.6.1-1
Section: base
Priority: optional
Architecture: amd64
Depends: sudo, pwr56 (>= 5.6.1-1)
Maintainer: Proview <postmaster@proview.se>
Description: Proview Demo Project package
 5.6.1-1 Base release
