Package: pwr57
Version: 5.7.2-1
Section: base
Priority: optional
Architecture: armhf
Depends: libc6 (>= 2.28-10+rpi1),
 libgtk2.0-0 (>= 2.24.32-3+rpt1),
 libasound2 (>= 1.1.8-1+rpt1),
 libdb5.3 (>= 5.3.28+dfsg1-0.5),
 libdb5.3++ (>= 5.3.28+dfsg1-0.5),
 libsqlite3-0 (>= 3.27.2-3),
 librsvg2-2 (>= 2.44.10-2.1+rpi1),
 libmariadb3 (>= 1:10.3.25-0+deb10u1),
 g++ (>= 4:6.3.0-4),
 xterm,
 xfonts-100dpi
Replaces: pwrrt,pwr34,pwr39,pwr40,pwr41,pwr42,pwr43,pwr44,pwr45,pwr46,pwr47,pwr48,pwr50,pwr51,pwr52,pwr53,pwr54,pwr55,pwr56
Maintainer: Proview <postmaster@proview.se>
Description: Proview development and runtime environment package
 5.7.2-1 Base release
