Package: pwrsev
Version: 5.0.0-1
Section: base
Priority: optional
Architecture: amd64
Depends: libc6 (>= 2.17-93ubuntu4), libgtk2.0-0 (>= 2.24.20-1ubuntu1), libasound2 (>= 1.0.27.2-1ubuntu6), libdb5.3 (>=5.3.21-2), libmysql++3 (>= 3.7.17-1ubuntu1), libsqlite3-0 (>= 3.7.17-1ubuntu1), xfonts-100dpi
Replaces: pwr34,pwr39,pwr40,pwr41,pwr42,pwr43,pwr44,pwr45,pwr46,pwr47,pwr48
Maintainer: Proview <postmaster@proview.se>
Description:
 Proview storage environment
 5.0.0-1 Base release
