Package: pwrsev
Version: 4.8.6-1
Section: base
Priority: optional
Architecture: amd64
Depends: libc6 (>= 2.15-0ubuntu10), libgtk2.0-0 (>= 2.24.10-0ubuntu6), libasound2 (>= 1.0.25-1ubuntu10), libdb5.1 (>=5.1.25-11build1), libmysql++3 (>= 3.1.0-2), xfonts-100dpi
Replaces: pwr34,pwr39,pwr40,pwr41,pwr42,pwr43,pwr44,pwr45,pwr46,pwr47
Maintainer: Proview <postmaster@proview.se>
Description:
 Proview storage environment
 4.8.0-1 Base release
