Package: pwrsev
Version: 4.6.0-1
Section: base
Priority: optional
Architecture: i386
Depends: libc6 (>= 2.7-13), libgtk2.0-0 (>= 2.12.11-3), libasound2 (>= 1.0.16-2), libdb4.6 (>=4.6.21-11)
Replaces: pwr34,pwr39,pwr40,pwr41,pwr42,pwr43,pwr44,pwr45
Maintainer: Proview <postmaster@proview.se>
Description:
 Proview storage environment
 4.6.0-1 Beta release
