Package: pwrsev
Version: 5.6.1-1
Section: base
Priority: optional
Architecture: i386
Depends: libc6 (>= 2.19-18+deb8u1), libgtk2.0-0 (>= 2.24.25-3), libasound2 (>= 1.0.28-1), libsqlite3-0 (>= 3.8.7.1-1+deb8u1), libdb5.3 (>=5.3.28-9), libmysqlclient18 (>= 5.5.44-0+deb8u1)
Replaces: pwr34,pwr39,pwr40,pwr41,pwr42,pwr43,pwr44,pwr45,pwr46,pwr47,pwr48,pwr50,pwr51,pwr52,pwr53,pwr54
Maintainer: Proview <postmaster@proview.se>
Description:
 5.6.1-1 Base release
