#
# Configuration file for Proview
#
# Default QCOM Bus Id
#
qcomBusId              999 
#
# Web directory
#
webDirectory            /var/www
#
# Default privileges for SevXtt: Read, Admin or None
#
sevXttDefaultPriv       Read




