Package: pwrrpi57
Version: 5.8.0-1
Section: base
Priority: optional
Architecture: amd64
Depends: pwr57 (>= 5.7.2-1)
Replaces: pwr57
Maintainer: ProviewR <postmaster@proview.se>
Description: ProviewR RPI development package
 5.8.0-1 Base release
