Package: pwrrt
Version: 5.6.1-1
Section: base
Priority: optional
Architecture: amd64
Depends: libc6 (>= 2.23-0ubuntu3), libgtk2.0-0 (>= 2.24.30-1ubuntu1), libasound2 (>= 1.1.0-0ubuntu1), libdb5.3 (>=5.3.28-11), libsqlite3-0 (>= 3.11.0-1ubuntu1), xfonts-100dpi
Replaces: pwr34,pwr39,pwr40,pwr41,pwr42,pwr43,pwr44,pwr45,pwr46,pwr47,pwr48,pwr50,pwr51,pwr52,pwr53,pwr54
Maintainer: Proview <postmaster@proview.se>
Homepage: http://www.proview.se
Installed-Size: 955344
Description:
 5.6.1-1 Base release
