Package: pwrrt
Version: 4.8.3-1
Section: base
Priority: optional
Architecture: amd64
Depends: libc6 (>= 2.13-20ubuntu5), libgtk2.0-0 (>= 2.24.6-0ubuntu5), libasound2 (>= 1.0.24.1-0ubuntu10), libdb5.1 (>=5.1.25-11), xfonts-100dpi
Replaces: pwr34,pwr39,pwr40,pwr41,pwr42,pwr43,pwr44,pwr45,pwr46,pwr47
Maintainer: Proview <postmaster@proview.se>
Homepage: http://www.proview.se
Installed-Size: 955344
Description:
 Proview runtime environment
 4.8.0-1 Base release
 4.8.1-1
   - I/O support for Arduino USB board.
   - Remote support for Websphere Message Queue.
   - Operator event logging and replay.
   - Chinese translation in operator environment.
 4.8.1-2
   - Curve window, second mark and export dialog added.
   - Xtt, problems with OpPlace and XttGraph objects in SharedVolume fixed.
   - Flow alloc color problem fixed.
 4.8.3-1
   - Post server for sending emails and sms.
   - Report server.
