Package: pwrdemo48
Version: 4.8.2-1
Section: base
Priority: optional
Architecture: i386
Depends: pwr48 (>= 4.8.2-1)
Replaces:
Maintainer: Proview <postmaster@proview.se>
Homepage: http://www.proview.se
Installed-Size: 70464
Description: Proview Demo Project package
 Proview Demo Project
 4.8.0-1 Base release 
