Package: pwrdemo54
Version: 5.4.0-1
Section: base
Priority: optional
Architecture: i386
Depends: pwr54 (>= 5.4.0-1)
Replaces:
Maintainer: Proview <postmaster@proview.se>
Homepage: http://www.proview.se
Installed-Size: 70464
Description: Proview Demo Project package
 5.4.0-1 Base release
