Package: pwrrt
Version: 4.8.4-1
Section: base
Priority: optional
Architecture: amd64
Depends: libc6 (>= 2.11.2-7), libgtk2.0-0 (>= 2.20.1-2), libasound2 (>= 1.0.23-2.1), libdb4.8 (>=4.8.30-2)
Replaces: pwr34,pwr39,pwr40,pwr41,pwr42,pwr43,pwr44,pwr45,pwr46,pwr47,pwr48
Maintainer: Proview <postmaster@proview.se>
Description:
 Proview runtime environment
 4.8.0-1 Base release
 4.8.1-1
   - I/O support for Arduino USB board.
   - Remote support for Websphere Message Queue.
   - Operator event logging and replay.
   - Chinese translation in operator environment.
 4.8.1-2
   - Curve window, second mark and export dialog added.
   - Xtt, problems with OpPlace and XttGraph objects in SharedVolume fixed.
   - Flow alloc color problem fixed.
 4.8.2-1
   - Support for Hilscher cifX boards.
   - Support for Hilscher cifX Profinet Controller.
   - UDP communication configured with IO objects.
   - Support for USB joystick.
 4.8.3-1
   - Post server for sending emails and sms.
   - Report server.
 4.8.4-1
   - Buffer input and output channels and signals.
