a:link          {color: #5a759a;
                font-weight: bold;
                text-decoration: none}
a:visited       {color: #5a759a;
                font-weight: bold;
                text-decoration: none}
a:active        {color: #5a759a;
                font-weight: bold;
                text-decoration: none}
a:hover         {color: #000000
                }
body            {background-color: #ffffff;
                font-family: Arial, Verdana;
                font-size: 10t;
                margin-top: 0px;
                color: #000000;
                text-align: left;
                }
table           {font-family: Arial, Verdana;
                font-size: 10pt;
                color: #000000;
                text-align: left;
                }
p               {font-family: Arial, Verdana;
                font-size: 10pt;
                color: #000000;
                margin-top: 0px;
                margin-bottom: 5px}
li              {font-family: Arial, Verdana;
                font-size: 10pt;
                color: #000000;}
h1              {font-family: 'Arial Black', Arial, Verdana;
                color: #003399;
                font-size: 20pt;
                font-weight: bold;
                margin-top: 16px;
                margin-bottom: 0px;
                text-align: center;
                }
h2              {font-family: Times New Roman, Times, Sabon;
                font-size: 130%;
                font-weight: bold;
                color: #000000;
                margin-top: 5px;
                margin-bottom: 0px}
h3              {font-family: Times New Roman, Times, Sabon;
                font-size: 110%;
                font-weight: bold;
                color: #000000;
                margin-top: 5px;
                margin-bottom: 0px}
h4              {font-family: Times New Roman, Times, Sabon;
                font-size: 100%;
                font-weight: bold;
                color: #000000;
                margin-top: 5px;
                margin-bottom: 0px}
h5              {font-family: Times New Roman, Times, Sabon;
                font-size: 100%;
                font-style: italic;
                font-weight: bold;
                color: #000000;
                margin-top: 5px;
                margin-bottom: 0px}
h6              {font-family: Times New Roman, Times, Sabon;
                font-size: 100%;
                font-weight: normal;
                font-style: italic;
                color: #000000;
                margin-top: 5px;
                margin-bottom: 0px}
address         {font-family: Arial, Verdana;
                font-size: 8pt;
                font-style: normal;
                margin-top: 0px;
                margin-bottom: 0px}
body#mainmenu {
                color: #4b6b95;
                background-color: #ffffff;
}
h2#mainmenu {
                font-family: Arial, Verdana;
/*                font-family: serif;*/
                font-size: 100%;
                font-weight: bold;
/*                color: #5a759a;*/
                color: #000000;
                margin-top: 6px;
                margin-bottom: 2px;
                margin-left: 2px;
}
table#mainmenu {
                font-family: sans-serif;
                font-size: 10pt;
                background-color: #f0f0f0;
                color: #4b6b95;
                text-align: left;
                border: 1;
                border: 0px solid #0a0a0a;
                  /* border-style: solid ridge; */
                }
td#mainmenu {
                    border: 1;
                  border: 2px solid #ffffff /* #5173a1 */;
                  /* border-style: solid ridge; */
                }
a#mainmenu:link {
                font-family: Arial, Verdana;
                font-size: 10pt;
                color: #324288;
                text-align: left;
                }
a#mainmenu:visited {
                font-family: Arial, Verdana;
                font-size: 10pt;
                color: #324288;
/*                color: #5263aa;*/
                text-align: left;
                }
a#mainmenu:hover {
                color: #3561ff;
                }
a#mainmenulink:link {
                font-family: Arial, Verdana;
                font-size: 8pt;
                font-weight: normal; 
                color: #324288;
                text-align: left;
                }
a#mainmenulink:visited {
                font-family: Arial, Verdana;
                font-size: 8pt;
                font-weight: normal; 
                color: #324288;
                text-align: left;
                }
a#mainmenulink:hover {
                color: #3561ff;
                text-decoration: underline;

                }
body#mainmenuhead {
                background-image: url('bc3.gif');
}
body#maintitle {
                background: url('bc5.gif');
                height:128;
                top:0px;
                left:-5px;
}
body#mainwindow {
                /* background: url('bc4.gif') fixed; */
                background-color: #000000;
}
body#pagetitle {
                background-color: black;
                font-family: 'Arial Black', Arial, Verdana;
                font-size: 40;
                font-weight: bold;
                color: #d3918b;
}
h1#pagetitle {
                font-family: 'Arial Black', Arial, Verdana;
                font-size: 130%;
                font-weight: bold;
                color: #d3918b;
                margin-top: 5px;
                margin-bottom: 0px
}
table#pagetitle {
                font-family: 'Arial Black', Arial, Verdana;
                font-size: 40;
                font-weight: bold;
                color: #d3918b;
                text-align: left;
                }
body#menupage   {background-color: #ffffff;
                font-family: Arial, Verdana;
                font-size: 10t;
                margin-top: 0px;
                color: #000000;
                text-align: left;
                }
body#pwrhead
{
  font-weight: bold;
  font-famlily:  arial;
  background: #cde7ff;
}
p#pwrversion
{
  font-weight: bold;
  font-size : 20px;
  font-family:  sans-serif;
  color: #5a759a;
  position: absolute;
  top : 40px;
  right : 15px;
}
a#pwrlang:link
{
  font-weight: bold;
  font-size : 12px;
  font-family:  sans-serif;
  color: #5a759a;
  position: absolute;
  top : 5px;
  right : 5px;
  border: 1px;
  border-style: solid;
}
a#pwrlang:visited
{
  font-weight: bold;
  font-size : 12px;
  font-family:  sans-serif;
  color: #5a759a;
  position: absolute;
  top : 5px;
  right : 5px;
  border: 1px; 
  border-style: solid;
}
a#pwrlang:active
{
  font-weight: bold;
  font-size : 12px;
  font-family:  sans-serif;
  color: #5a759a;
  position: absolute;
  top : 5px;
  right : 5px;
  border: 1px; 
  border-style: solid;
}
a#pwrlang:hover
{
  color: #5a759a;
  background: #feffbe;
}
a#pwrdoc:link
{
  font-weight: bold;
  font-size : 11px;
  font-family:  sans-serif;
  color: #5a759a;
  position: absolute;
  top : 53px;
  left : 191px;
  border: 1px;
  border-style: ridge ridge groove ridge;
}
a#pwrdoc:visited
{
  font-weight: bold;
  font-size : 11px;
  font-family: sans-serif;
  color: #5a759a;
  position: absolute;
  top : 53px;
  left : 191px;
  border: 1px;
  border-style: ridge ridge groove ridge;
}
a#pwrdoc:active
{
  font-weight: bold;
  font-size : 11px;
  font-family: sans-serif;
  color: #5a759a;
  position: absolute;
  top : 53px;
  left : 191px;
  background: #ffffff;
  border: 1px;
  border-style: ridge ridge groove ridge;
}
a#pwrdoc:hover
{
  color: #5a759a;
  background: #feffbe;
}
a#pwrdochigh:link
{
  font-weight: bold;
  font-size : 11px;
  font-family:  sans-serif;
  color: #5a759a;
  position: absolute;
  top : 53px;
  left : 191px;
  background: #efffff;
  border: 1px;
  border-style: ridge ridge groove ridge;
}
a#pwrdochigh:visited
{
  font-weight: bold;
  font-size : 11px;
  font-family:  sans-serif;
  color: #5a759a;
  position: absolute;
  top : 53px;
  left : 191px;
  background: #f4ffff;
  border: 1px;
  border-style: ridge ridge groove ridge;
}
a#pwrdochigh:active
{
  font-weight: bold;
  font-size : 11px;
  font-family:  sans-serif;
  color: #5a759a;
  position: absolute;
  top : 53px;
  left : 191px;
  background: #f4ffff;
  border: 1px;
  border-style: ridge ridge groove ridge;
}
a#pwrdochigh:hover
{
  color: #5a759a;
  background: #feffbe;
}
a#pwrabout:link
{
  font-weight: bold;
  font-size : 11px;
  font-family:  sans-serif;
  color: #5a759a;
  position: absolute;
  top : 53px;
  left : 300px;
  border: 1px;
  border-style: ridge ridge groove ridge;
}
a#pwrabout:visited
{
  font-weight: bold;
  font-size : 11px;
  font-family:  sans-serif;
  color: #5a759a;
  position: absolute;
  top : 53px;
  left : 300px;
  border: 1px;
  border-style: ridge ridge groove ridge;
}
a#pwrabout:active
{
  font-weight: bold;
  font-size : 11px;
  font-family:  sans-serif;
  color: #5a759a;
  position: absolute;
  top : 53px;
  left : 300px;
  background: #ffffff;
  border: 1px;
  border-style: ridge ridge groove ridge;
}
a#pwrabout:hover
{
  color: #5a759a;
  background: #feffbe;
}
a#pwrabouthigh:link
{
  font-weight: bold;
  font-size : 11px;
  font-family:  sans-serif;
  color: #5a759a;
  position: absolute;
  width : 53px;
  top : 53px;
  left : 300px;
  background: #f4ffff;
  border: 1px;
  border-style: ridge ridge groove ridge;
}
a#pwrabouthigh:visited
{
  font-weight: bold;
  font-size : 11px;
  font-family:  sans-serif;
  color: #5a759a;
  position: absolute;
  top : 53px;
  left : 300px;
  background: #f4ffff;
  border: 1px;
  border-style: ridge ridge groove ridge;
}
a#pwrabouthigh:active
{
  font-weight: bold;
  font-size : 11px;
  font-family:  sans-serif;
  color: #5a759a;
  position: absolute;
  top : 53px;
  left : 300px;
  background: #ffffff;
  border: 1px;
  border-style: ridge ridge groove ridge;
}
a#pwrabouthigh:hover
{
  color: #5a759a;
  background: #feffbe;
}
a#pwrhome:link
{
  font-weight: bold;
  font-size : 11px;
  font-family:  sans-serif;
  color: #5a759a;
  position: absolute;
  top : 53px;
  left : 191px;
  background: #bdd7ff;
  border: 1px;
  border-style: ridge ridge groove ridge;
}
p#pwrhead
{
  font-weight: bold;
  font-size : 30px;
  font-family:  sans-serif;
  color: #5a759a;
  position: absolute;
  top : 7px;
  left : 191px;
}
img#uggla
{
  position: relative;
  top: 0px;
  left: 0px;
}
img#logga
{
  position: absolute;
  top: 7px;
  left: 191px;
}
#menu
{
  position: absolute;
  top: 67px;
  left: 0px;
  height: 400px;
  width: 200px;

  border-top-style: groove;
  border-bottom-style: groove;
  border-left-style: groove;
  border-right-style: groove;
}
#body
{
  position: absolute;
  top: 67px;
  left: 200px;
  height: 400px;
  width: 80%;

  border-top-style: groove;
  border-bottom-style: groove;
  border-left-style: groove;
  border-right-style: groove;
}

body#news       {background-color: #e3e3e3;
                font-family: Arial, Verdana;
                font-size: 10t;
                margin-top: 0px;
                color: #000000;
                text-align: left;
                }
div#news        {background: #eeeeee;
                border: 1px solid #cccccc;
                left: 100px;
                width: 100%;
                }
p#news          {font-family: Arial, Verdana;
                font-size: 10pt;
                color: #000000;
                padding-left: 10pt;
                padding-right: 10pt;
                }

body#dsh       {background-color: #e3e3e3;
                font-family: Arial, Verdana;
                font-size: 10t;
                margin-top: 0px;
                color: #000000;
                text-align: left;
                }
div#dsh        {background: #eeeeee;
                border: 1px solid #cccccc;
                left: 100px;
                width: 100%;
                }
p#dsh          {font-family: Arial, Verdana;
                font-size: 10pt;
                color: #000000;
                padding-left: 10pt;
                padding-right: 10pt;
                }
table#dsh      {font-family: 'Arial Black', Arial, Verdana;
                font-size: 12;
                font-weight: bold;
                color: black;
                text-align: left;
		padding: 30px;
		width : 100%;
                }

