Package: pwrdemo57
Version: 5.8.0-1
Section: base
Priority: optional
Architecture: amd64
Depends: pwr57 (>= 5.7.2-1)
Replaces:
Maintainer: ProviewR <postmaster@proview.se>
Description: ProviewR Demo Project package
 5.8.0-1 Base release
