Package: pwr57
Version: 5.8.0-1
Section: base
Priority: optional
Architecture: amd64
Depends: libc6 (>= 2.24-11), libgtk2.0-0 (>= 2.24.31-2), libasound2 (>= 1.1.3-5), libdb5.3 (>=5.3.28-12), libdb5.3++ (>= 5.3.28-12), libsqlite3-0 (>= 3.16.2-5), librsvg2-2 (>= 2.40.16-1), g++ (>= 4:6.3.0-4), xterm, libmariadb3 (>=1:10.3.22-0), librabbitmq4 (>= 0.8.0-1), libhdf5-openmpi-103 (>= 1.10.4), libusb-1.0-0 (>= 2:1.0.22-2)
Replaces: pwrrt,pwr34,pwr39,pwr40,pwr41,pwr42,pwr43,pwr44,pwr45,pwr46,pwr47,pwr48,pwr50,pwr51,pwr52,pwr53,pwr54,pwr55,pwr56
Maintainer: ProviewR <postmaster@proview.se>
Description: ProviewR development and runtime environment package
 5.8.0-1 Base release
