Package: pwr47
Version: 4.7.1-1
Section: base
Priority: optional
Architecture: amd64
Depends: libc6 (>= 2.10.1-5), libgtk2.0-0 (>= 2.18.3-1), libasound2 (>= 1.0.21a-1), libdb4.6 (>=4.6.21-14), libdb4.6++ (>= 4.6.21-14), libmysqlclient15off (>= 5.0.51a-24+lenny2), g++ (>= 4:4.3.2-2)
Replaces: pwrrt,pwr34,pwr39,pwr40,pwr41,pwr42,pwr43,pwr44,pwr45,pwr46
Maintainer: Proview <postmaster@proview.se>
Description: Proview development and runtime environment package
 Proview development and runtime environment
 4.7.1-1 Base release 
